@use '../util' as media;

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.1;
  margin-top: 0;
}

h1 {
  font-size: media.rem(40);
  font-size: clamp(media.rem(40), 1.77rem + 3.64vw, media.rem(72));
}

h2 {
  font-size: media.rem(36);
  font-size: clamp(media.rem(36), 1.91rem + 1.45vw, media.rem(48));
  // font-size: clamp(media.rem(22), media.rem(14) + 1.5vw, media.rem(36));
}
h3 {
  font-size: media.rem(24);
}

p {
  margin-top: 0;
  font-size: media.rem(16);
}

a,
a:visited,
a:active {
  text-decoration: none;
}
