@use '../util' as media;

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: media.rem(40);
  width: min(100% - media.rem(40), media.rem(1000));
  margin-inline: auto;

  @include media.breakpoint(large) {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
  }

  &__main,
  &__sidebar {
    padding: media.rem(40);
  }
  &__main {
    background-color: hsl(240, 99%, 33%);

    @include media.breakpoint(medium) {
      background-color: hsl(120, 100%, 16%);
    }

    @include media.breakpoint(large) {
      background-color: hsl(39, 100%, 35%);
    }
  }
  &__sidebar {
    @include media.breakpoint-down(medium) {
      text-align: center;
    }
  }

  &__widget {
    padding: media.rem(16);
  }
}
